<h1> Current Animals </h1>
  <select class="drop" (change)="onChange($event.target.value)">
    <option value="allAniamls" selected="selected">All animals</option>
    <option value="youngAnimal">Young Animals</option>
    <option value="matureAnimal">Mature Animals</option>
  </select><h5>Filter by age<h5>
<div class="row">
  <ul *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1>{{currentAnimal.species}}</h1>
        </div>
        <div class="panel-body">
          <li>name: {{currentAnimal.name}}</li>
          <li>age: {{currentAnimal.age}}</li>
          <li>diet: {{currentAnimal.diet}}</li>
          <li>location: {{currentAnimal.location}}</li>
          <li>sex: {{currentAnimal.sex}}</li>
          <li>caretakers: {{currentAnimal.caretakers}}</li>
          <li>likes: {{currentAnimal.likes}}</li>
          <li>dislikes: {{currentAnimal.dislikes}}</li>
          <button (click)="editButtonHasBeenClicked(currentAnimal)" class="btn btn-warning">Edit</button>
        </div>
      </div>
    </div>
  </ul>
</div>
