<h1> Current Animals </h1>
  <select class="drop" (change)="onChange($event.target.value)">
    <option value="allAniamls" selected="selected">All animals</option>
    <option value="youngAnimal">Young Animals</option>
    <option value="matureAnimal">Mature Animals</option>
  </select><h5>Filter by age<h5>
<div class="row">
  <ul *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>{{currentAnimal.species}}</h1>
        </div>
        <div class="panel-body">
          <li>{{currentAnimal.name}}</li>
          <li>{{currentAnimal.age}}</li>
          <li>{{currentAnimal.diet}}</li>
          <li>{{currentAnimal.location}}</li>
          <li>{{currentAnimal.sex}}</li>
          <li>{{currentAnimal.caretakers}}</li>
          <li>{{currentAnimal.likes}}</li>
          <li>{{currentAnimal.dislikes}}</li>
          <button (click)="editButtonHasBeenClicked(currentAnimal)" class="btn btn-info">Edit</button>
        </div>
      </div>
    </div>
  </ul>
</div>
