<div class="well">
  <h1>Add Animal</h1>
  <div>
    <label>Name</label><br>
    <input #newName>
  </div>
  <div>
    <label>Species</label><br>
    <input #newSpecies>
  </div>
  <div>
    <label>Age</label><br>
    <input #newAge>
  </div>
  <div>
    <label>Diet</label><br>
    <input #newDiet>
  </div>
  <div>
    <label>Location</label><br>
    <input #newLocation>
  </div>
  <div>
    <label>Caretakers</label><br>
    <input #newCaretakers>
  </div>
  <div>
    <label>Sex</label><br>
    <input #newSex>
  </div>
  <div>
    <label>Likes</label><br>
    <input #newLikes>
  </div>
  <div>
    <label>Dislikes</label><br>
    <input #newDislikes>
  </div>

  <div>
  <button (click)="submitForm(newName.value, newSpecies.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value); newLocation.value=''; newName.value='';">Add</button>
  </div>
</div>
