<div class="container">
  <h1> The Zoo <img src="http://editorial.designtaxi.com/news-logode18032015/1.png"></h1>
  <div class="row">
    <div class="col-md-6">
      <app-animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></app-animal-list>
    </div>
    <div class="col-md-6">
      <app-new-animal (newAnimalSender)="addAnimal($event)"></app-new-animal>
    </div>
  </div>
  <app-edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></app-edit-animal>
</div>
